@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: Poppins;
  background-color: rgb(230, 230, 230);
  color: black;
  margin: 0;
  font-size: 12px;
}

a{
  text-decoration: none;
  color: black;
}

header{
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
}

header a{
  margin-right: 40px;
}

.profile{
  display: flex;
  background-color: rgb(186, 186, 186);
  height: auto;
  overflow: hidden;
  flex-wrap: wrap;
}

.profile img{
  width: 100%;
  max-width: 768px;
  height: auto;
}
img.profile-img-small{
  display: none;
}
img.profile-img-wide{
  display: flex;
}

.profile-center{
  display: flex;
  padding: 25px;
  height: auto;
  justify-content: left;
  align-items: center;
  padding-bottom: 0px;
}
.profile-center h1{
  margin: auto;
  font-size: 5vmax;
  display: flex;
  align-items: center;
}
.profile-center h2{
  margin: auto;
  margin-bottom: 10px;
  font-size: 2vmax;
  display: flex;
  align-items: center;
}
.profile-center button{
}

.profile-about-me{
  display: flex;
  padding: 25px;
  max-width: 2560px;
}
.profile-about-me .about-me{
  display: flex;
  flex-wrap: wrap;
}
.profile-about-me h1{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  padding: 0px;
  font-size: 4vmax;
}
.profile-about-me p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2vmax;
  padding-top: 10px;
}

@media (max-width: 640px) {
  .profile{
    flex-direction: column;
  }
  .profile img{
    width: 100%;
    max-width: 768px;
    height: auto;
    background-image: url("Assets/ProfilePicture.JPG");
  }

  img.profile-img-small{
    display: flex;
  }
  img.profile-img-wide{
    display: none;
  }

  .profile-center{
    height: auto;
    justify-content: left;
    align-items: flex-start;
  }

  .profile-about-me p{
    font-size: 2vmax;
  }
}
@media (min-width: 768px) {
  .profile{
    flex-direction: column;
  }

  .profile img{
    width: 100%;
    max-width: 1024px;
    height: auto;
    background-image: url("Assets/ProfilePictureWide.JPG");
  }

  img.profile-img-small{
    display: none;
  }
  img.profile-img-wide{
    display: flex;
  }

  .profile-center{
    height: auto;
    justify-content: left;
    align-items: flex-start;
  }
  .profile-about-me p{
    font-size: 2vmax;
  }
}
@media (min-width: 1024px) {
  .profile{
    flex-direction: column;
  }
  .profile img{
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-image: url("Assets/ProfilePictureWide.JPG");
  }

  img.profile-img-small{
    display: none;
  }
  img.profile-img-wide{
    display: flex;
  }

  .profile-center{
    height: auto;
    justify-content: left;
    align-items: flex-start;
  }
  .profile-about-me p{
    font-size: 2vmax;
  }
}
@media (min-width: 1440px) {
  .profile{
    flex-direction: row;
  }
  .profile img{
    width: 100%;
    max-width: 700px;
    height: auto;
    background-image: url("Assets/ProfilePicture.JPG");
  }

  img.profile-img-small{
    display: flex;
  }
  img.profile-img-wide{
    display: none;
  }

  .profile-center{
    height: 550px;
    justify-content: left;
    align-items: center;
  }
  .profile-about-me p{
    font-size: 1vmax;
  }
}
@media (min-width: 2560px) {
  .profile{
    flex-direction: row;
  }

  .profile img{
    width: 100%;
    max-width: 700px;
    height: auto;
    background-image: url("Assets/ProfilePicture.JPG");
  }

  img.profile-img-small{
    display: flex;
  }
  img.profile-img-wide{
    display: none;
  }

  .profile-center{
    height: 550px;
    justify-content: left;
    align-items: center;
  }
  
  .profile-about-me p{
    font-size: 1vmax;
  }
}